<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doble Nueve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='domino.png') }}">
</head>
<div>
<header class = "Header">
    <div>
    <h1>
        <img class="Logo" src="{{ url_for('static', filename='domino.png') }}"></img>
        Doble Nueve</h1>
    </div>
    <div class = "Game-actual">
        <h1>Mano actual: {{game_stage}}</h1>
    </div>
</header>
</div>

<body>
    <form action="{{ url_for('gameindex') }}" method="post">
        <div class = "Intro">
        <table class = "Styled-table">
            <thead>
                <tr>
                <th>Jugador</th>
                {%  for jugador in jugadores %}
                <th name = "jugadores">{{jugador.name}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Doble 9</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble9" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble9}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 8</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble8" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble8}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 7</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble7" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble7}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 6</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble6" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble6}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 5</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble5" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble5}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 4</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble4" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble4}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 3</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble3" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble3}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 2</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble2" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble2}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 1</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble1" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble1}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Doble 0</td>
                    {% for jugador in jugadores %}
                    {% if game_stage == "doble0" %}
                    <td><input class = "Inputs-number" type="number" value="0" name="points"/></td>
                    {% else %}
                    <td>{{jugador.doble0}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        </div> 
        <div class = "Intro">
        <button class = "Submit" type="submit">Siguiente</button>
        </div>
    </form>
</body>


</html>