<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doble Nueve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='domino.png') }}">

</head>

<header> Doble Nueve </header>
<body>
    <div> 
        <form action="{{ url_for('index') }}" method="post">
            <h2>{{game_stage}}</h2>

            {% for x in range(1,qty+1) %}
                <label>
                    <h2> Jugador {{x}}:</h2> 
                    <input type="text" name="jugadores"/>
                </label>
            {% endfor %}
            <button type="submit">Siguiente</button>
        </form>
    </div>    
</body>

</html>