<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doble Nueve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='domino.png') }}">

</head>
<header class = "Header">
    <h1>
        <img class="Logo" src="{{ url_for('static', filename='domino.png') }}">
        Doble Nueve
    </h1> 
</header>
<div class = "Game-actual">
    <h1>EL GANADOR ES: {{ganador}}</h1>
</div>

<body>
    <div class = "Intro">
    <form action="{{ url_for('winner') }}" method="post">
        <table class="Styled-table">
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Puntos totales</th>
                </tr>
            </thead>
            <tbody>
                {% for jugador in jugadores %}
                <tr>
                    <td name = "jugadores">{{jugador.name}}</td>
                    <td name = "puntos">{{jugador.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <div class = "Intro">
            <button class = "Submit" type="submit">Jugar de nuevo</button>
        </div>
    </form>




</body>

</html>